# Python
__pycache__/
*.py[cod]
*.egg-info/
*.whl
.venv/
*.env

#logs
*debug_log*.txt
*user_query_*.txt
*prompt_list_*.json


# Ignore logs and temp files
logs/
*.json
!root/subagents/report_generation/sub_agents/report_summarizer/Campaign_Performance_Summary_Text_Viz.json
test_ssl.py


#logs and test results
*debug_log*.txt
*evaluation_results*.xlsx
generated_prompts_*.txt
report_json*.json
report_markdown*.md
report_markdown_debug*.md
report_markdown_debug*.txt
# Jupyter
.ipynb_checkpoints/

# Editor files
*.swp
.idea/
.vscode/

# OS
.DS_Store

# ADK local session/artifact cache
.adk/
root/.adk/
*.db

# Binary/media
*.gif
*.mp4
*.zip
*.tar.gz
*.pyc
*.png
*.jpg
*.jpeg
